* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eee;
    font-family: Montserrat;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1440px;
}

#root {
    height: 100vh;
    display: flex;
}
.main-container {
    height: 100%;
    display: flex;
    padding: 2rem 0;
    gap: 1rem;
}

.input-form {
    height: 3rem;
    min-width: 0;
    width: 100%;
    border: none;
    background-color: #eee;
    border-radius: 1000px;
    font-family: Montserrat;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

.input-form:hover .input-box:not(.input-box:focus) {
    border: 1px solid #777;
}
.input-box {
    height: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    width: 100%;
    border-radius: 1000px;
    padding-left: 1rem;
    font-size: 14px;
}

.btn-submit {
    color: #555;
    right: 0.5rem;
    border: none;
    position: absolute;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    padding: 0.25rem;
    cursor: pointer;
}
.btn:active {
    transform: scale(0.9);
}
.input-box:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 100, 255, 0.5);
}
.input-box:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 100, 255, 0.5);
}

.send-icon {
    height: 100%;
    width: 100%;
    color: hsl(216, 100%, 50%);
}
.navbar {
    background-color: white;
    border-radius: 0.75rem;
    padding: 0.25rem;
}
.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: gray;
    height: 3rem;
    width: 3rem;
    border-radius: 0.5rem;
}
.nav-link.active {
    color: hsl(216, 100%, 50%);
    background-color: hsla(216, 100%, 50%, 0.1);
}
.nav-link:hover {
    background-color: #eee;
}
.section {
    height: 100%;
    background-color: white;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
}
.chat-rooms {
    flex-grow: 1;
    display: flex;
    gap: 1rem;
}
.chat-room-list-section {
    width: 240px;
    flex-shrink: 0;
}
.section-head {
    padding: 1rem 1rem 0;
}
.section-foot {
    padding: 1rem;
}
.section-title {
    font-weight: 500;
    font-size: 1.25rem;
}
.section-main {
    height: 100%;
    overflow-y: scroll;
}
.messages-display-section {
    flex-grow: 1;
    width: 100%;
}

.input-form {
    height: 3rem;
    min-width: 0;
    width: 100%;
    border: none;
    background-color: #eee;
    border-radius: 1000px;
    font-family: Montserrat;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

.input-form:hover .input-box:not(.input-box:focus) {
    border: 1px solid #777;
}
.input-box {
    height: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    width: 100%;
    border-radius: 1000px;
    padding-left: 1rem;
    font-size: 14px;
}
.magnifying-glass-icon,
.add-icon {
    height: 100%;
    width: 100%;
}
.btn-submit {
    color: #555;
    right: 0.5rem;
    border: none;
    position: absolute;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    padding: 0.25rem;
    cursor: pointer;
}
.btn:active {
    transform: scale(0.9);
}
.input-box:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 100, 255, 0.5);
}
.input-box:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 100, 255, 0.5);
}
.input-form-send {
}
.input-box::placeholder {
    font-family: Montserrat;
    color: #444;
    font-size: 14px;
}
.btn-submit.btn-add {
    background-color: rgba(0, 100, 255, 1);
}
.send-icon {
    height: 100%;
    width: 100%;
    color: rgba(0, 100, 255, 1);
}
.add-icon {
    color: #fff;
}

.chat-room-link {
}
.chat-room-link {
    text-decoration: none;
    display: flex;
    padding: 0.25rem;
    border-radius: 100px;
    gap: 0.75rem;
    color: black;
}
.chat-room-link.active {
    background-color: #eee;
}
.chat-room-avatar {
    border: 2px solid #fff;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
}
.chat-room-list-section-main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}
.chat-room-list-section-main::-webkit-scrollbar {
    width: 4px;
}
.chat-room-list-section-main::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #ddd;
    border-radius: 1000px;
}
.chat-room-link.active .chat-room-name {
    color: black;
}
.chat-room-details {
    padding: 0.5rem 0;
}
.chat-room-name {
    color: gray;
    font-weight: 500;
}
.message {
    display: flex;
    gap: 0.5rem;
}
.message-sender-image {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
}
.message-text {
    min-height: 2rem;
    border-radius: 1rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}
.message.message-right {
    flex-direction: row-reverse;
}
.message.message-left .message-text {
    background-color: #eee;
}
.message.message-right .message-text {
    background-color: hsl(216, 100%, 50%);
    color: white;
}
.messages-display-section-main::-webkit-scrollbar {
    width: 4px;
}
.messages-display-section-main::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #ddd;
    border-radius: 1000px;
}
.messages-display-section-main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1rem;
}
.messages-display-section-head {
    padding-bottom: 1rem;
}
